body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
}

.thead-dark th {
    background-color: #852108; /* Header color */
    color: white;
    border: none;
    text-align: center;
    font-weight: bold;
}

.table th.rounded-left {
    border-top-left-radius: 8px;
}

.table th.rounded-right {
    border-top-right-radius: 8px;
}

.table td {
    text-align: center;
}

.btn-danger {
    background-color: #8B0000;
    border: none;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    color: #991414;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    border-top: none;
}
